@import url("base.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* evita scroll general */
  }
  

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
}

.navbar {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-left: 60px;
}

.navbar-brand {
    margin-left: 60px;
}

.navbar-brand img {
    height: 40px;
}

.nav-link {
    color: var(--button-text-color);
    transition: color 0.3s;
}

.nav-link:hover {
    color: #fff !important;
}

#content {
    position: relative; /* Cambiado de absolute a relative */
    top: 56px; /* altura del navbar */
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0; /* Cambiado de 20px a 0 */
    overflow: hidden; /* Cambiado de auto a hidden */
    margin: 0 0 0 250px;
    width: calc(100% - 250px);
    height: calc(100vh - 56px); /* Altura total menos navbar */
    transition: margin-left 0.3s;
}
  

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: -250px;
    top: 56px;
    background: var(--dark-color);
    padding-top: 20px;
    transition: left 0.3s;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: var(--button-text-color);
    text-decoration: none;
    transition: background 0.3s;
}

.sidebar a:hover {
    background: var(--primary-color);
}

.sidebar i {
    margin-right: 10px;
}

.menu-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    background: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1100;
}
#navbar-items,
#sidebar-items {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sidebar-collapsed #content {
    margin-left: 0 !important;
  }
  

.logout {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;

    color: var(--button-text-color);
    padding: 10px 0;
}


.logout:hover {
    background: var(--primary-color);
}

#empresaInfo {
    color: #fff;
}